/* Cluster fill*/
.clusters rect {
    fill: #efefef;
}

/* State borders*/
.node rect {
    stroke-width: 1.2px;
    stroke: #000;
}

/* Transition paths*/
.edgePath path {
    stroke: #999;
    fill: none;
}

/* State and transition text*/
text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
    display: block;
}
